<ion-header style="background-color: #3880ff;">
  <ion-toolbar color="primary" style="padding-top:25px" >
    <ion-buttons>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title >My Credit loans </ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-card padding>
    <ion-card-title>Tala loan</ion-card-title><br>
    <ion-label>Loan Balance :</ion-label><ion-label style="float:right;font-weight:bold;font-size: 2.5em;">0</ion-label><br><br>
    <a ><span style="font-size: 12pt;">Apply for loan from Tala</span></a>
    
  </ion-card>
  <ion-card padding class="" >
      <ion-card-title>Branch loan</ion-card-title><br>
      <ion-label>Loan Balance :</ion-label><ion-label style="float:right;font-weight:bold;font-size: 2.5em;">0</ion-label><br><br>
      <a disabled><span style="font-size: 12pt;">Apply for loan from Branch</span></a>
      
    </ion-card>
    <ion-card padding>
        <ion-card-title>Zenka loan</ion-card-title><br>
        <ion-label>Loan Balance :</ion-label><ion-label style="float:right;font-weight:bold;font-size: 2.5em;">0</ion-label><br><br>
        <a ><span style="font-size: 12pt;">Apply for loan from Zenka</span></a>
        
      </ion-card>
      <ion-card padding>
          <ion-card-title>OPesa loan</ion-card-title><br>
          <ion-label>Loan Balance :</ion-label><ion-label style="float:right;font-weight:bold;font-size: 2.5em;">0</ion-label><br><br>
          <a ><span style="font-size: 12pt;">Apply for loan from OPesa</span></a>
          
        </ion-card>

</ion-content>
