.category-block {
    margin-bottom: 4px ;
    padding-top: 20px ;
}

.category-banner{
    border-left: 8px solid var(--ion-color-primary) ;
    background: var(--ion-color-light) ;
    height: 40px ;
    padding: 10px ;
    font-weight: 500 ; 
    
}
.arrow-right{
    background: var(--ion-color-light) ;
    font-weight: 500 ; 
    height: 40px ;
    padding-top: 5px ;

}