.scanned {
    width: 100%;
    height: 220px;
    border: thin solid #e3e3e3;
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.scanned-img {
    width: 65%;
    margin: 5% auto;
}

.scanned-title, .scanned-price {
    
    color: #666666;
    margin-top: 0px;
    line-height: 50px;
}

.bar-bottom {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.568);
    border-bottom: thin solid rgba(227, 227, 227, 0.365);
}

///----------------------------------------------

#invoice-POS{
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding:2mm;
    margin: 0 auto;
    width: 80%;
    background: #FFF;
    
    
  ::selection {background: #f31544; color: #FFF;}
  //::moz-selection {background: #f31544; color: #FFF;}
  h1{
    font-size: 1.5em;
    color: #222;
  }
  h2{font-size: .9em;}
  h3{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
  }
  p{
    font-size: .7em;
    color: #666;
    line-height: 1.2em;
  }
   
  #top, #mid,#bot{ /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
  }
  .logo{
      margin: 20% auto 10% ;
  }
  
  #top{min-height: 100px;}
  #mid{min-height: 80px;} 
  #bot{ min-height: 50px;}
  
  #top .logo{
      text-align:center;
      height: 60px;
      width: 60px;
      background: url('../../../assets/images/icon.png') no-repeat;
      background-size: 60px 60px;
  }
  .clientlogo{
    float: left;
      height: 60px;
      width: 60px;
      background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
      background-size: 60px 60px;
    border-radius: 50px;
  }
  .info{
    display: block;
    text-align: center ;
    margin-left: 0;
  }
  .title{
    float: right;
  }
  .title p{text-align: right;} 
  table{
    width: 100%;
    border-collapse: collapse;
  }
 
  .tabletitle{
    //padding: 5px;
    font-size: .9em;
    background: #EEE;
  }
  .service{border-bottom: 1px solid #EEE;}
  .item{width: 40%;}
  .itemtext{font-size: 0.9em;}
  
  #legalcopy{
    margin-top: 5mm;
    text-align: center ;
  }
  
  }