contact-list{
    width: 60%;
    margin-left: 100px;
    margin-right: 100px;
}
.red{
    background-color: rgb(240, 163, 163);
  }
  
.green{
    background-color: rgb(183, 216, 183);
  }
.dark{
    background-color: rgb(46, 45, 45);
    color: white !important;
}
.medium{
    background-color: white;
}
.orange{
    background-color: rgb(107, 97, 79) ;
}
.list{
    width: 80%;
    margin-bottom: 50px;
}