.form-control {
    margin-bottom: 5%;
}

.labels {
     text-align: left !important;
}

.inputs {
    padding: 3%;
    height: 35px;
    box-shadow: 0px;
    border: thin solid #e3e3e3;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    color: #2979ff;
}

.btn {
    margin: 10% auto !important;
    width: 100%;
}