.empty{
    text-align: center;
    margin-top: 50px;

}
.successful{
    text-align: center;
    margin-top: 50px;
}
.details{
    
    text-align: start;
}
.img{
    object-position: center;
    object-fit: contain;
}