<ion-header style="background-color: #3880ff">
  <ion-toolbar color="primary" >
      <ion-buttons slot="start">
          <ion-button (click)="back()">
            <ion-icon name="arrow-round-back"></ion-icon>
            
          </ion-button>
      </ion-buttons>
     
    <ion-title class="shopname">{{shopSelected}}</ion-title>
   
  </ion-toolbar>
 
</ion-header>
<ion-content>
  <!-- Shows when the cart is empty -->
      <div *ngIf="cart.length == 0" class="empty">
        <ion-label>Your cart is Empty</ion-label><br><br><br>
        <ion-button (click)="back()" shape="round">Start shopping</ion-button>
      </div>
  <!-- Shows when the order is sent -->
      <ion-card padding class="successful" *ngIf="Ordersuccess">
        <ion-card-header>
          <ion-icon color="primary" name="checkmark-circle-outline"></ion-icon>&nbsp;&nbsp;
          <ion-label style="color: green;"><b>Order Send Successful</b></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-text>Please wait for a confirmation notice from the shop .</ion-text>
        </ion-card-content>

      </ion-card>
  <!-- Shows items in the cart and there total  -->
      <div *ngIf="!Ordersuccess">
        <ion-item *ngFor="let item of cart" >
          <ion-col>
            <img class="img" src="{{item.image}}">
          </ion-col>
          <ion-col  class="details" size="7">
            <ion-label style="color:red;text-transform:capitalize;" (click)="remove(cart.indexOf(item))">Remove</ion-label><br>
            <ion-label >{{item.product}} &nbsp; {{item.quantity}}</ion-label><br>
            <ion-label >Kshs. <b>{{item.currentprice}}</b></ion-label>
            <ion-label >Kshs. <span style="color: red;"><s>{{item.initialprice}}</s></span></ion-label>
          </ion-col >
          <ion-col style="text-align: right;">
          <b> <ion-icon name="add" (click)="add(cart.indexOf(item))"></ion-icon></b>&nbsp;&nbsp;&nbsp;
          <b><ion-icon name="remove" (click)="reduce(cart.indexOf(item))"></ion-icon></b><br><br>
          <ion-label><b>{{item.count}} x</b></ion-label>
          </ion-col>
        </ion-item>
    
      </div>
  <!-- Payment method section-->
      <div padding class="pay" *ngIf="showTimeSelect"> 
        <ion-label color="primary">Choose a Pickup Time</ion-label>
        <ion-select [(ngModel)]="pickTime" text-center>
          <ion-select-option *ngFor="let time of OpenTime">{{time}}</ion-select-option>
        </ion-select>
        
      </div>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="cart.length != 0" color="primary" style="height: 40px;border-radius: 5px;">
 
    <ion-buttons slot="start" style="padding-bottom: 15px;">Total : </ion-buttons>
    <ion-buttons class="price-slot" slot="end" style="padding-bottom: 15px;">
        KES &nbsp;<span style="font-size: medium;font-weight: bolder;"> {{getTotalCart() | number:'1.1-5'}} </span>
    </ion-buttons>
</ion-toolbar>
<ion-button *ngIf="cart.length != 0" expand="full" shape="round"style="height: 40px;border-radius: 5px;" (click)="sendOrder()">
 {{btn}}
</ion-button>
</ion-footer>
