<ion-header style="background-color: #3880ff;" *ngIf="!selectShop" > 
    <ion-toolbar color="primary" >
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" ></ion-menu-button>
        </ion-buttons>

        <ion-title *ngIf="!showSearch">Home</ion-title>

        <!-- SEARCH BAR -->
        <ion-searchbar *ngIf="showSearch"></ion-searchbar>

        <ion-buttons slot="end"  style="padding-right: 5px;">
            <ion-button (click)="show()">
                <ion-icon size="large" name="search"></ion-icon>
            </ion-button>
            <ion-button (click)="notifications()">
                <ion-icon size="large" name="notifications"></ion-icon><br>
                <ion-badge color="danger"><div>0</div></ion-badge>
            </ion-button>
            
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">

    <!-- MAIN  MENU -->
    <div  *ngIf="!selectShop" style="width: 100%;">

        <!-- MAIN MENU -->
        <div style="background-color: #F5F5F5; height: 3px;"></div>
        <ion-row class="main-menu">
            <ion-col size="4" (click)="scanAndPay()">
                <ion-avatar class="avatar">
                    <img class="avatar-img" src="/assets/images/scan.svg">
                </ion-avatar>
                <h2>Scan & Pay</h2>
            </ion-col>

            <ion-col size="4" (click)="pickPayCollect()">
                <ion-avatar class="avatar">
                    <img class="avatar-img" src="/assets/images/pay.svg">
                </ion-avatar>
                <h2>Pick, Pay & Collect</h2>
            </ion-col>

            <ion-col size="4" (click)="shoppingList()">
                <ion-avatar>
                    <img class="avatar-img" src="/assets/images/shop.svg">
                </ion-avatar>
                <h2>Shopping lists</h2>
            </ion-col>
        </ion-row>




        <!-- SHOPS -->
        <!-- <div class="shop">
            <div class="shop-title">
                <div class="shop-title-left">Shops</div>
                <div class="shop-title-right">
                    View all 
                    <ion-icon src="/assets/images/arrow-right.svg"></ion-icon>
                </div>
            </div>
            <div class="space"></div>
            <div class="shop-content">
                <ion-slides [options]="slideOptsThumbs">
                    <ion-slide>
                        <ion-card class="ion-text-start">
                            <img src="/assets/images/shops/tuskys.jpg" style="object-fit: fill; width: 150px; height: 100px;">
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card class="ion-text-start">
                            <img src="/assets/images/shops/utumi.png" style="object-fit: fill; width: 150px; height: 100px;">
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card class="ion-text-start">
                            <img src="/assets/images/shops/tuskys.jpg" style="object-fit: fill; width: 150px; height: 100px;">
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card class="ion-text-start">
                            <img src="/assets/images/shops/utumi.png" style="object-fit: fill; width: 150px; height: 100px;">
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div>
        </div> -->
        <!-- END OF SHOPS -->



        <!-- SOKO -->
        <div style="background-color: #F5F5F5; height: 3px;"></div>
        <div class="soko">
            <!-- <div class="soko-title">
                <div class="soko-title-left">Soko</div>
                <div class="soko-title-right">
                    View all 
                    <ion-icon src="/assets/images/arrow-right.svg"></ion-icon>
                </div>
            </div> -->
            <div class="space"></div>
            <div class="soko-content">
                <ion-slides pager="false" [options]="slideOpts">
                    <ion-slide>
                        <img class="soko-image" src="/assets/images/soko/big-basket-2.jpg">
                    </ion-slide>
                    <ion-slide>
                        <img class="soko-image" src="/assets/images/soko/bigbasket-banner.jpg">
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
        <!-- END OF SOKO -->


        <!-- SHOP CATEGORIES -->
        <!-- <div class="shop-category">
            <ion-row class="shop-category-title">
                <ion-col>Shop categories</ion-col>
            </ion-row>
            <ion-row class="shop-category-content">
                <ion-col size="2.4">
                    <ion-avatar>
                        <img class="shop-category-avatar-img" src="/assets/images/shop_categories/grocery.svg">
                    </ion-avatar>
                    <h2>Grocery</h2>
                </ion-col>

                <ion-col size="2.4">
                    <ion-avatar>
                        <img class="shop-category-avatar-img" src="/assets/images/shop_categories/shirt.svg">
                    </ion-avatar>
                    <h2>Men</h2>
                </ion-col>

                <ion-col size="2.4">
                    <ion-avatar>
                        <img class="shop-category-avatar-img" src="/assets/images/shop_categories/smartphone.svg">
                    </ion-avatar>
                    <h2>Phones</h2>
                </ion-col>

                <ion-col size="2.4">
                    <ion-avatar>
                        <img class="shop-category-avatar-img" src="/assets/images/shop_categories/stationery.svg">
                    </ion-avatar>
                    <h2>Stationery</h2>
                </ion-col>

                <ion-col size="2.4">
                    <ion-avatar>
                        <img class="shop-category-avatar-img" src="/assets/images/shop_categories/more.svg">
                    </ion-avatar>
                    <h2>See more</h2>
                </ion-col>
            </ion-row>
        </div> -->
        <!-- END OF CATEGORY -->




<!-- 
        <div class="soko-content">
            
        </div> -->






        <!-- DISCOUNTED PRODUCTS -->
        <div style="background-color: #F5F5F5; height: 5px;"></div>
        <div class="featured-products">
            <div class="featured-products-title">
                <div class="featured-products-title-left">Discounted products</div>
                <div class="featured-products-title-right">
                    View all 
                    <ion-icon src="/assets/images/arrow-right.svg"></ion-icon>
                </div>
            </div>
            
            <div class="featured-products-content">
                <!-- <ion-row> -->

                    <ion-slides pager="false">
                        <!-- FIRST SLIDE DISCOUNTED PRODUCTS -->
                        <ion-slide>
                            <ion-col class="featured-products-content-card" size="6">
                                <div class="featured-products-content-card-image">
                                    <div>
                                        <ion-button expand="full" style="height: 25px; width: 35px; position: absolute; top: 5px; right: 0px;"><div style="font-size: 11px;">-20%</div></ion-button>
                                    </div>
                                    <img class="product-image" src="/assets/images/featured_products/camera.png">
                                </div>
                                <div class="featured-products-content-card-content">
                                    <div class="featured-products-content-card-content-title">Product Name</div>
                                    <ion-row class="featured-products-content-card-content-description">
                                        <ion-col size="6">Ksh 200</ion-col>
                                        <ion-col size="6" style="direction: rtl;"><s>Ksh 280</s></ion-col>
                                    </ion-row>
                                </div>
                            </ion-col>
        
                            <ion-col class="featured-products-content-card" size="6">
                                <div class="featured-products-content-card-image">
                                    <div>
                                        <ion-button expand="full" style="height: 25px; width: 35px; position: absolute; top: 5px; right: 0px;"><div style="font-size: 11px;">-20%</div></ion-button>
                                    </div>
                                    <img class="product-image" src="/assets/images/featured_products/cabbage.png">
                                </div>
                                <div class="featured-products-content-card-content">
                                    <div class="featured-products-content-card-content-title">Product Name</div>
                                    <ion-row class="featured-products-content-card-content-description">
                                        <ion-col size="6">Ksh 200</ion-col>
                                        <ion-col size="6" style="direction: rtl;"><s>Ksh 280</s></ion-col>
                                    </ion-row>
                                </div>
                            </ion-col>
                        </ion-slide>

                        <!-- FIRST SLIDE DISCOUNTED PRODUCTS -->
                        <ion-slide>
                            <ion-col class="featured-products-content-card" size="6">
                                <div class="featured-products-content-card-image">
                                    <div>
                                        <ion-button expand="full" style="height: 25px; width: 35px; position: absolute; top: 5px; right: 0px;"><div style="font-size: 11px;">-20%</div></ion-button>
                                    </div>
                                    <img class="product-image" src="/assets/images/featured_products/camera.png">
                                </div>
                                <div class="featured-products-content-card-content">
                                    <div class="featured-products-content-card-content-title">Product Name</div>
                                    <ion-row class="featured-products-content-card-content-description">
                                        <ion-col size="6">Ksh 200</ion-col>
                                        <ion-col size="6" style="direction: rtl;"><s>Ksh 280</s></ion-col>
                                    </ion-row>
                                </div>
                            </ion-col>
        
                            <ion-col class="featured-products-content-card" size="6">
                                <div class="featured-products-content-card-image">
                                    <div>
                                        <ion-button expand="full" style="height: 25px; width: 35px; position: absolute; top: 5px; right: 0px;"><div style="font-size: 11px;">-20%</div></ion-button>
                                    </div>
                                    <img class="product-image" src="/assets/images/featured_products/cabbage.png">
                                </div>
                                <div class="featured-products-content-card-content">
                                    <div class="featured-products-content-card-content-title">Product Name</div>
                                    <ion-row class="featured-products-content-card-content-description">
                                        <ion-col size="6">Ksh 200</ion-col>
                                        <ion-col size="6" style="direction: rtl;"><s>Ksh 280</s></ion-col>
                                    </ion-row>
                                </div>
                            </ion-col>
                            
                        </ion-slide>
                    </ion-slides>


                <!-- </ion-row> -->
            </div>
        </div>
        <!-- END OF DISCOUNTED PRODUCTS -->





        <div style="background-color: #F5F5F5; height: 5px;"></div>
        <div class="featured-products">
            <div class="featured-products-title">
                <div class="featured-products-title-left">Featured products</div>
                <div class="featured-products-title-right">
                    View all 
                    <ion-icon src="/assets/images/arrow-right.svg"></ion-icon>
                </div>
            </div>
            
            <div class="featured-products-content">
                <ion-row>
                    <!-- FIRST ROW OF PRODUCTS -->
                    <ion-col class="featured-products-content-card" size="6">
                        <div class="featured-products-content-card-image">
                            <img class="product-image" src="/assets/images/featured_products/camera.png">
                        </div>
                        <div class="featured-products-content-card-content">
                            <div class="featured-products-content-card-content-title">Product Name</div>
                            <ion-row class="featured-products-content-card-content-description">
                                <ion-col size="4.5">Ksh 200</ion-col>
                            </ion-row>
                        </div>
                    </ion-col>

                    <ion-col class="featured-products-content-card" size="6">
                        <div class="featured-products-content-card-image">
                            <img class="product-image" src="/assets/images/featured_products/camera.png">
                        </div>
                        <div class="featured-products-content-card-content">
                            <div class="featured-products-content-card-content-title">Product Name</div>
                            <ion-row class="featured-products-content-card-content-description">
                                <ion-col size="4.5">Ksh 200</ion-col>
                            </ion-row>
                        </div>
                    </ion-col>

                    <!-- SECOND ROW OF PRODUCTS -->
                    <ion-col class="featured-products-content-card" size="6">
                        <div class="featured-products-content-card-image">
                            <img class="product-image" src="/assets/images/featured_products/cabbage.png">
                        </div>
                        <div class="featured-products-content-card-content">
                            <div class="featured-products-content-card-content-title">Product Name</div>
                            <ion-row class="featured-products-content-card-content-description">
                                <ion-col size="4.5">Ksh 200</ion-col>
                            </ion-row>
                        </div>
                    </ion-col>

                    <ion-col class="featured-products-content-card" size="6">
                        <div class="featured-products-content-card-image">
                            <img class="product-image" src="/assets/images/featured_products/cabbage.png">
                        </div>
                        <div class="featured-products-content-card-content">
                            <div class="featured-products-content-card-content-title">Product Name</div>
                            <ion-row class="featured-products-content-card-content-description">
                                <ion-col size="4.5">Ksh 200</ion-col>
                            </ion-row>
                        </div>
                    </ion-col>

                    <!-- THIRD ROW OF PRODUCTS -->
                    <ion-col class="featured-products-content-card" size="6">
                        <div class="featured-products-content-card-image">
                            <img class="product-image" src="/assets/images/featured_products/camera.png">
                        </div>
                        <div class="featured-products-content-card-content">
                            <div class="featured-products-content-card-content-title">Product Name</div>
                            <ion-row class="featured-products-content-card-content-description">
                                <ion-col size="4.5">Ksh 200</ion-col>
                            </ion-row>
                        </div>
                    </ion-col>

                    <ion-col class="featured-products-content-card" size="6">
                        <div class="featured-products-content-card-image">
                            <img class="product-image" src="/assets/images/featured_products/camera.png">
                        </div>
                        <div class="featured-products-content-card-content">
                            <div class="featured-products-content-card-content-title">Product Name</div>
                            <ion-row class="featured-products-content-card-content-description">
                                <ion-col size="4.5">Ksh 200</ion-col>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div><br>
        <!-- END OF FEATURED PRODUCTS -->
    </div>




    <!-- SHOW SHOP TO SELECT FROM -->

    <div *ngIf="selectShop">
        <!-- Banner at the top -->
        <ion-header style="background-color: #3880ff;position: sticky" > 
            <ion-toolbar color="primary" >
                <ion-buttons slot="start" (click)="back()">
                    <ion-icon name="arrow-back" size="large"></ion-icon>
                </ion-buttons>
                <ion-title text-center *ngIf="!showSearch"><span style="text-transform: uppercase ;font-size: .7em;padding-top: 5px">Select a shop</span></ion-title>
                <ion-searchbar *ngIf="showSearch" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" placeholder="Enter shop name"></ion-searchbar>
                <ion-buttons slot="end">
                    <ion-button (click)="show()">
                        <ion-icon name="search" size="large"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

                              
        <!---   DISPLAY SKELETON WHEN LOADING OR INTERNET IS SLOW-->
        <ion-grid   *ngIf="!shops">
            <ion-row >
            <ion-col size="6" >
                <div  class="partion" >
                    <ion-skeleton-text  class="skeleton" animated></ion-skeleton-text>
                </div>
            </ion-col>
            <ion-col size="6" >
                <div  class="partion" >
                    <ion-skeleton-text  class="skeleton" animated></ion-skeleton-text>
                </div>
            </ion-col>
            <ion-col size="6" >
                <div  class="partion" >
                    <ion-skeleton-text  class="skeleton" animated></ion-skeleton-text>
                </div>
            </ion-col>
            <ion-col size="6" >
                <div  class="partion" >
                    <ion-skeleton-text  class="skeleton" animated></ion-skeleton-text>
                </div>
            </ion-col>
            <ion-col size="6" >
                <div  class="partion" >
                    <ion-skeleton-text  class="skeleton" animated></ion-skeleton-text>
                </div>
            </ion-col>
            <ion-col size="6" >
                <div  class="partion" >
                    <ion-skeleton-text  class="skeleton" animated></ion-skeleton-text>
                </div>
            </ion-col>
            </ion-row>
        </ion-grid>
                        
        <div style="text-align: center;" *ngIf="!shops">
            <ion-spinner name="circles"></ion-spinner><br>
        </div>
                            
                        
                    
        <!-- List of shops  -->
        <ion-grid  padding >
            <ion-row>
            <ion-col size="6" *ngFor="let shop of shops" (click)="goToShop(shop)">
                
                <div class="partion" >
                <img src="{{shop.file}}" class="shop-img">
                <h5 class="shops-title" style="text-transform: uppercase">{{shop.name}} </h5>
                </div>
            </ion-col>
            </ion-row>
        </ion-grid>

    </div>
    
</ion-content>

