.skeleton{
    
  width: 100%;
  padding: 10px 10px 10px 10px;
}
ion-content {
  -webkit-transition: all;
  transition: all;
  --background: #F5F5F5;
}
ion-grid {
  padding: auto;
  ion-col{
    border-radius: 25px;
  }
}
ion-skeleton-text{
  width: 100%;
  height: 100%;
  border-radius: 25px;
   
}
.partion {
  width: 100%;
  height: 150px;
  border: thin solid #92bcf3;
  text-align: center;
  border-radius: 25px;
}

.shop-img {
  width: 65%;
  height: 65%;
  margin: 5% auto;
  object-fit: contain;
  object-position: center;
}

.shops-title {
    font-weight: bold;
    color: #666666;
    font-size: 13px;
    margin-top: -3%;
}

.float-tick {
    position: absolute; 
    width: 25%;  
    margin-top: 2%;
    margin-right: 3%;
}

.actives {
    background: #ffffff;
    opacity: 0.2;
}

.price-slot {
    font-family: 'Bebas Neue';
}

.bar-bottom {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.568);
    border-bottom: thin solid rgba(227, 227, 227, 0.365);
}

.scanned {
    width: 200px;
    height: 220px;
    border: thin solid #e3e3e3;
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.scanned-img {
    width: 65%;
    margin: 5% auto;
}

.scanned-title, .scanned-price {
    font-family: 'Bebas Neue';
    color: #666666;
    margin-top: 0px;
    line-height: 50px;
}

.top-tag{
    text-align: center ;
    font-family: 'Bebas Neue';
}

.notice-btn {
    ion-badge {
        position: absolute;
        top: -0.2rem;
        right: -0.5rem;
        opacity: 0.9;
    }
}

.special-offer {
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.advert {
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.imageContainer img{
    margin-top: 0;
    box-shadow: 0 8px 6px -6px gray;
}

// MAIN MENU
.main-menu {
    padding-top: 10px;
    ion-col ion-avatar{
        margin: auto;
        width: 50px;
        height: 50px;
        background-color: #E8E8E8;
    }
    ion-col h2{
        margin-top: 10px;
        text-align: center;
        font-size: 13px;
    }
}


// NOTIFICATION PART
ion-badge {
    margin-left: -12px; 
    margin-top: -12px; 
    border-radius: 100%; 
    font-size: 9px;
    div {
        margin-bottom: -2px;
    }
}


.slider {
    height: 100vh;
  }

  .slider-slide
{
  text-align: center;  
}



.slider-slide img {
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}


// SHOP CATEGORIES
.shop-category {
    // background-color: #F5F5F5;
    background-color: white;  
    height: 150px;
    .shop-category-title {
        margin-left: 2px; 
        margin-bottom: 8px; 
        padding-top: 20px;
        font-weight: bold;
    }
    .shop-category-content {
        background-color: white; 
        padding-top: 5px; 
        margin-left: 8px; 
        margin-right: 8px;
        ion-avatar {
            // border: 1px solid #3880ff; 
            background-color: white;
        }
        .shop-category-avatar-img {
            object-fit: contain;
            object-position: center;
            width: 83%; 
            padding-left: 9px;
        }
        h2 {
            margin-top: 2px;
            color: black;
        }
    }
}


// SOKO
.soko {
    background-color: white; 
    margin-top: 10px;
    height: 260px;
    .soko-title {
        padding-top: 20px; 
        padding-bottom: 10px;
        height: 50px;
        .soko-title-left {
            float: left; 
            margin-left: 8px;
            font-weight: bold;
        }
        .soko-title-right {
            float: right; 
            margin-right: 8px; 
            font-size: 13px; 
            color: grey;
            ion-icon {
                height: 10px;
            }
        }
    }
    .space {
        background-color: #F5F5F5; 
        height: 3px;
    }
    .soko-content {
        padding-top: 5px; 
        padding-left: 10px; 
        padding-right: 10px;
        .soko-image {
            object-fit: fill; 
            width: 100%; 
            height: 250px;
        }
    }
}


// SHOPS
.shop {
    background-color: white; 
    height: 160px;
    margin-top: 3px;
    .shop-title {
        padding-top: 20px; 
        padding-bottom: 10px;
        height: 50px;
        .shop-title-left {
            float: left; 
            margin-left: 8px;
            font-weight: bold;
        }
        .shop-title-right {
            float: right; 
            font-size: 13px; 
            margin-right: 8px;
            color: grey;
            ion-icon {
                height: 10px;
            }
        }
    }
    .space {
        background-color: #F5F5F5; 
        height: 3px;
    }
    .shop-content {
        margin-top: -5px; 
        padding-left: 0px; 
        padding-right: 0px;
    }
}


// FEATURED PRODUCTS
.featured-products {
    background-color: white;
    .featured-products-title {
        padding-top: 30px; 
        padding-bottom: 10px;
        .featured-products-title-left {
            float: left; 
            margin-left: 8px;
            font-weight: bold;
        }
        .featured-products-title-right {
            float: right; 
            margin-right: 8px; 
            font-size: 13px; 
            color: grey;
            ion-icon {
                height: 10px;
            }
        }
    }
    .featured-products-content {
        padding-top: 20px; 
        padding-left: 8px; 
        padding-right: 10px;
        .featured-products-content-card {
            box-shadow: 3px 3px 3px -2px rgba(0, 0, 0, 0.30);
            .featured-products-content-card-image {
                width: 125px; 
                margin: auto; 
                padding-top: 30px;
                img {
                    width: 100%;
                    height: 120px;
                    object-fit: fill;
                }
            }
            .featured-products-content-card-content {
                padding-top: 40px;
                .featured-products-content-card-content-title {
                    color: #3880ff; 
                    font-size: 15px; 
                    margin-left: 5px;
                }
                .featured-products-content-card-content-description {
                    font-size: 13px; 
                    padding-top: 7px;
                    ion-button {
                        height: 20px; 
                        margin-top: -3px; 
                        font-size: 12px;
                    }
                }
            }
        }
    }
}







