<ion-app>
 

    <ion-menu extend="full" side="start" menuId="first">
        <ion-content id="menu" >
            <div style="background-color: #00ade5;">
                <div style="height: 75px;width: 100%">
                    <ion-avatar  class="circle-avatar" routerLink="/settings" style="width: 30%; height: 90px; left: 10px; position: absolute; top: 45px;">
                        <img src="../assets/images/person.svg">
                    </ion-avatar>
                </div>
                <div style="padding-left: 100px; color: white; margin-top: -20px;" *ngIf="!show">
                    <h2 style="padding-left: 10px; padding-bottom: 21px; font-size: 13px; font-weight: bold;">User name</h2>
                    <h2 style="padding-left: 10px; font-size: 11px; font-weight: bold; margin-top: -27px; padding-bottom: 65px;">Username@gmail.com</h2>
                </div>
                <div style="padding-left: 100px; color: white; margin-top: -20px;" *ngIf="show">
                    <h2 style="padding-left: 10px; padding-bottom: 21px; font-size: 13px; font-weight: bold;">{{name}}</h2>
                    <h2 style="padding-left: 10px; font-size: 11px; font-weight: bold; margin-top: -27px; padding-bottom: 65px;">{{email}}</h2>
                </div>
                
            </div><br>
  
            <!-- LIST OF MENU -->
            <ion-list menuClose ion-item *ngFor="let p of appPages" >
                <div> 
                    <ion-button fill="clear" (click)="openPage(p)" [ngClass]="{'active': true}" style="margin-top: -10px;">  
                        <ion-icon slot="start" name="{{p.icon}}" style="color: #8F8E8E; margin-right: 10px;"></ion-icon>
                        <div style="color: black; font-size: 11px;">{{p.title}}</div>
                    </ion-button>
                </div>
            </ion-list>
            <hr style="height: 1px; background-color: #95989A; opacity: 0.6;">
    
            <!-- LOG IN -->
            <div *ngIf="!show">
                <ion-button fill="clear" style="margin-bottom: 40px;">  
                    <ion-icon slot="start" name="log-out" color="primary" style="margin-right: 10px;"></ion-icon>
                    <div style="color: black; font-size: 11px;" (click)="login()"><b>Log In</b></div>
                </ion-button>
            </div>

            <!-- LOG OUT -->
            <div *ngIf="show">
                <ion-button fill="clear" style="margin-bottom: 40px;">  
                    <ion-icon slot="start" name="log-out" color="danger" style="margin-right: 10px;"></ion-icon>
                    <div style="color: black; font-size: 11px;" (click)="show = false ;logout() "><b>Log Out</b></div>
                </ion-button>
            </div>

        </ion-content>
    </ion-menu>
      
    <ion-router-outlet main></ion-router-outlet>
  
</ion-app>