
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"  ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{product}}</ion-title>
  </ion-toolbar>


<ion-content>


  <div class="product" >
    <img src="{{image}}">
  </div>
  <div>
    <ion-card>
      <ion-card-header><ion-label>Quantity : </ion-label> &nbsp; {{quantity}}</ion-card-header>
      <ion-card-content>
       <ion-label>Current Price: Kshs. &nbsp; <span><b>{{currentprice}}</b></span> </ion-label> <br><br>
       <ion-label>Initial Price: Kshs. &nbsp; <span><b>{{initialprice}}</b></span> </ion-label> 
       
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
