h1{
    text-align: center ;
}
.top-card{
    text-align: center ;
    font-weight:bold;
    font-size: 26;
    margin-left:0px;
    margin-right: 0px;
}
ion-button{
    margin-bottom: 40px !important;
}



#progressBar {
    height: 20px;
    margin-top:15px;
    
}