<ion-content>

  <ion-header class="ion-padding">
    <ion-toolbar color="primary" >
      <ion-buttons slot="start" padding>
          <ion-button (click)="backToShop()">
            <ion-icon name="arrow-round-back"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-title class="shopname">CheckOut Details</ion-title>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
  </ion-header>
  
  
    
    <ion-card class="top-card">
      Shop :
      <h1><b>{{shopSelected}}</b></h1><br>
      Payment method :
      <h1 style="color: green"><b>M-pesa</b></h1><br>
      Total Amount:
      <h1>Kshs : <b>{{totalCart}}</b></h1>
    </ion-card>
    <div id="progressBar" *ngIf="!processing">
      <progress-bar [progress]="60"></progress-bar>
    </div>
    <div id="progressBar" *ngIf="processing">
      <progress-bar [progress]="98"></progress-bar>
    </div>
    <h3 *ngIf="processing" style="color: #cfc1a3;text-align: center;margin-top: 30px">Processing ...</h3>
  <div style="position: fixed;left: 0;bottom: 0px;right: 0;text-align: center">
    <span >By clicking finish you agree to be charged the amount for this shopping</span>
    <ion-button (click)="payOut()" size="large"  expand="full" fill="clear">Pay Now</ion-button>
  </div>
    
  </ion-content>
  