.wallet {
    border: thin solid #e3e3e3;
    text-align: center;
    width:70%;
    margin: 15% auto;
}

.kes{
    font-family: 'Bebas Neue';
    color: #999999;
}

.text {
    font-family: 'Bebas Neue';
    color: #999999;
    text-align: center;
}

.cancel {
    color: #2979ff;
}

.partion {
    width: 100%;
    height: 150px;
    border: thin solid #e3e3e3;
    text-align: center;
}

.resp-img {
    width: 65%;
    margin: 5% auto;
}

.resp-title {
    font-weight: bold;
    color: #666666;
    font-size: 13px;
    margin-top: -3%;
}

.form-control {
    border: thin solid #e3e3e3;
    width: 100%;
    text-align: center;
    color: #2979ff;
}

form {
    width: 90%;
    margin: 0 auto !important;
}

.btn {
    width: 100%;
}

.title-wallet {
    text-align: center;
    font-size: 15px;
}