<ion-content>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon size="large" (click)="back()" name="arrow-round-back" color="light"></ion-icon>
        </ion-buttons>
        <ion-title text-center>
            Reset Password
        </ion-title>
    </ion-toolbar>
   

    <div class="content" *ngIf="!openGmail"> 
        <h3>Please enter email address you signed with to receive password reset link</h3>
        <form action=""> 
            <ion-list class="background-input">
                <ion-item>
                    <ion-input inputmode="email" placeholder="Email" clearInput name="email" [(ngModel)]="email"></ion-input>
                </ion-item>
            </ion-list>

            <ion-list class="buttons-position">
                <ion-button class="cancel-button" (click)="back()">
                    CANCEL
                </ion-button>
                <ion-button class="send-button" (click)="forgotPassword(email)" [disabled]="!email">
                    SEND
                </ion-button>
            </ion-list>
        </form>
    </div>
    <div text-center *ngIf="openGmail" class="linkSent">
        Email reset link has been send to <span>{{email}}</span>. <br>
        Please Click on the link in the Email to reset your password.<br>
        <ion-button (click)="goToGmail()" shape="round" style="margin-top: 10px;">
            Open Gmail
        </ion-button>
    </div>

</ion-content>
