<ion-header style="background-color: #3880ff;">
  <ion-toolbar color="primary"  >
      <ion-buttons slot="start">
          <ion-button (click)="back()">
            <ion-icon name="arrow-round-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      
      <ion-buttons class="price-slot" slot="end" (click)=gotoList()>
          <ion-icon style="color:white" size="large" name="list-box"></ion-icon>
        </ion-buttons>
    <ion-title class="shopname">{{shopSelected}}</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content >

  <div  class="">

    <!-- Display shop banner ads
        <ion-card *ngIf="myCart.length == 0" style="border-radius: 10px">
      <ion-card-content id="offer1">
        <div  class="animated infinite pulse delay-5s" (click)="offers()" ><b><h2 style="text-align: center;color: white">Click to See Today's Offers</h2></b></div>
      </ion-card-content>
  </ion-card> -->

<div *ngIf="myCart.length == 0" padding>
  
        <ion-card style="width: 100%; margin-right: 0px;margin-left: 0px;">
           <ion-img src="../../assets/images/ad.jpg"></ion-img>
           <ion-card-content>
             50% off Today
           </ion-card-content>
        </ion-card>
  
      <ion-card style="width: 100%;margin-right: 0px;margin-left: 0px;">
           <ion-img src="../../assets/images/grocery.png"></ion-img>
           <ion-card-content>
             up to 30% off on all groceries
           </ion-card-content>
      </ion-card>
          
</div>



<!--Show scanned products here-->
<ion-card  >
  <ion-row *ngIf="myCart.length > 0" >
    <ion-col style="width: 100%;"><ion-label id="quontity" style="float: right;"><b>Qty</b></ion-label></ion-col>
  </ion-row>
  <ion-row  class="activated" *ngFor="let scanned of myCart" >
      <ion-col>
        <p></p>
        <ion-thumbnail>
        <img src={{scanned.pic_filename}} alt={{scanned.name}} class="scanned">
        </ion-thumbnail>
      </ion-col>
      <ion-col size="7">
          <ion-label (click)="removeFromCart(scanned)" color="danger">Remove</ion-label><br><br>
          
          <ion-label class="scanned-title">{{scanned.name}}</ion-label><br><br>
          <ion-label class="scanned-price"><strong>KES {{scanned.unit_price | number:'1.1-5'}}</strong></ion-label><br><br>
          <a (click)="previewProduct(scanned)">More Details...</a>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col >
          
          <ion-label id="quontity" (click)="reduceQuantity(scanned)"><b><h1><ion-icon name="remove" style="color: black;"></ion-icon></h1></b></ion-label><br>
          <ion-label id="quontity" (click)="addQty(scanned)"><b><h1><ion-icon name="add"style="color: black;"></ion-icon></h1></b></ion-label><br>
          <ion-label id="quontity"><strong>{{scanned.count}} x</strong></ion-label>
      </ion-col>
  </ion-row>

</ion-card>


<!-- cart total sum label-->
<ion-toolbar color="primary" *ngIf="myCart.length > 0" style="height: 40px;position: fixed;left: 0;bottom: 110px;right: 0;--border-radius: 5px;">
 
    <ion-buttons slot="start" style="padding-bottom: 15px;">Total : </ion-buttons>
    <ion-buttons class="price-slot" slot="end" style="padding-bottom: 15px;">
        KES <span style="font-size: medium;font-weight: bolder;"> {{getTotalCart() | number:'1.1-5'}} </span>
    </ion-buttons>
  
</ion-toolbar>


</div>
<div style="position: fixed;left: 0;bottom: 0px;right: 0;">
  <ion-row no-padding>
    <ion-col (click)="submitProduct()" *ngIf="myCart.length > 0" text-center>
      <ion-card padding style="border-radius: 20px;">
      <ion-icon size="large" name="cart" ></ion-icon>
      <ion-badge color ="primary" color="secondary">{{cart.length}}</ion-badge><br>
      <ion-label>Checkout Now</ion-label>
    </ion-card>
    </ion-col>
    <!-- <ion-col *ngIf="myCart.length == 0"  (click)="offers()" text-center>
      <ion-card padding style="border-radius: 20px;">
      <ion-icon color ="primary" size="large" name="cart"></ion-icon><br>
      <ion-label>Pick Pay & Collect</ion-label>
    </ion-card>
    </ion-col> -->
    <ion-col (click)="scan()" *ngIf="userShopId != 'none'" text-center>
      <ion-card padding style="border-radius: 20px;">
      <ion-icon color ="primary" size="large" name="qr-scanner"></ion-icon><br>
      <ion-label>Scan & Pay</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</div>
<!-- 
<form (ngSubmit)="getProduct(code)" >
  <ion-input name="code" [(ngModel)]="code" type="number">
  </ion-input>
  <ion-button type="submit">Send</ion-button>
</form> -->

</ion-content>