
    <ion-header style="background-color: #3880ff;">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      <span >My Orders</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <!-- Header display banner-->
  <!-- <ion-card color="primary" style="--padding-start:0;height: 50px;"  class="display-header">
      <ion-card-title style="height: 100%">
        <ion-row>
          <ion-col size="1">
            
            <ion-badge style="padding-left:0 ; height: 100%; --color: white">
              <ion-icon size="large"name="timer"></ion-icon>
            </ion-badge>
          </ion-col>
          <ion-col size="0.7"></ion-col>
          <ion-col > 
              <span style="margin-top: 15px;font-size: 12pt;">Check past orders</span>
          </ion-col>
        </ion-row>
      </ion-card-title>
  
    </ion-card>
 -->

    
<!-- Scan and pay transactions -->
<div *ngIf="transactions.length > 0" style="margin-top: 100px;"> 
  <ion-label padding color='primary'>Scan and Pay</ion-label>
    <ion-list>
      <ion-item *ngFor="let trans of transactions" (click)="viewTransaction(trans)">
        <ion-avatar slot="start">
          <img src="assets/products/cash.png">
        </ion-avatar>
        <ion-label>
          <h3>{{trans.key}}</h3>
          <p>Click to view details.</p>
        </ion-label>
      </ion-item>
    </ion-list>
</div>
<!-- No Transactions -->

    <div style="margin-top: 100px;text-align:center" *ngIf="transactions.length == 0 ">
      <ion-icon size="large" name="flash"></ion-icon><br>
      <ion-label >You have no past Transactions</ion-label>
    </div>

  <!-- Pick Pay collect  -->
  <div *ngIf="transactions.length > 0"> 
    <ion-label padding color='primary'>Pick Pay Collect</ion-label>
    <!-- <div padding class="nav">
      <ion-label style="float: left;" id="past" class="past" (click)="change('past')">
        PAST ORDERS
      </ion-label>
      <ion-label style="float: right" id="upcoming" (click)="change('upcoming')" class="upcoming">
        UPCOMING
      </ion-label>
    </div> -->
    <ion-tabs >
      <ion-tab-bar slot="top" id="tabbar">
      <ion-tab-button (click)="pastOrder()" class="tab active">
        <ion-label >PAST ORDERS</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="openOrder()" class="tab">
        <ion-label>OPEN ORDERS</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    </ion-tabs>
    

  </div>
  
  <!-- fab placed to the top end 
  <ion-fab (click)="clearTransaction()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
-->

</ion-content>