  <ion-header style="background-color: #3880ff;"  >
  <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="back()">
          <ion-icon name="arrow-back" size="large"></ion-icon>
        </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>

</ion-header>
  <ion-content  >

<div class="ion-text-center"style="margin-top: 200px;">
  <ion-icon size="large" name="flash"></ion-icon><br>
  <ion-label>You have no Notifications</ion-label>
</div>
</ion-content>
