  <ion-header style="background-color: #3880ff;">
      <ion-toolbar color="primary" >
          <ion-buttons (click)="close()" slot="start">
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-buttons>
        <ion-title>Comments</ion-title>
        
        </ion-toolbar>
  </ion-header>
<ion-content>

    <div class="comment">
        <!-- FIRST USER COMMENT -->
        <div class="container">
            <div class="user-profile-image">
                <ion-avatar>
                    <img src="../../assets/images/bg.png" >
                </ion-avatar>
            </div>
            <div class="user-name-comment-time">
                <h1 class="user-name">Maxime Lee</h1>
                <h1 class="comment-time">2 m</h1>
            </div>

            <div class="user-message">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, neque iure officia impedit vero explicabo exercitationem nemo
            </div>

            <div class="user-reply">
                Reply
            </div>

            <div class="user-reply-bottom-line"></div>
            <!-- SUB COMMENT -->
            <div class="sub-comment">
                <ion-avatar>
                    <img src="../../assets/images/bg.png" >
                </ion-avatar>
                <div class="user-name-comment-date">
                    <h1 class="user-name">Maxime Lee</h1>
                    <h1 class="comment-date">2 m</h1>
                </div>
                <div class="user-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, neque iure officia impedit vero explicabo exercitationem nemo
                </div>
            </div>
            <div class="bottom-line"></div>
        </div>
        <!-- END OF FIRST USER COMMENT -->


        <!-- SECOND USER COMMENT -->
        <div class="container">
            <div class="user-profile-image">
                <ion-avatar>
                    <img src="../../assets/images/bg.png" >
                </ion-avatar>
            </div>
            <div class="user-name-comment-time">
                <h1 class="user-name">Maxime Lee</h1>
                <h1 class="comment-time">2 m</h1>
            </div>

            <div class="user-message">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, neque iure officia impedit vero explicabo exercitationem nemo
            </div>

            <div class="user-reply">
                Reply
            </div>
            <div class="bottom-line"></div>
        </div>
        <!-- END OF SECOND USER COMMENT -->


        <!-- THIRD USER COMMENT -->
        <div class="container">
            <div class="user-profile-image">
                <ion-avatar>
                    <img src="../../assets/images/bg.png" >
                </ion-avatar>
            </div>
            <div class="user-name-comment-time">
                <h1 class="user-name">Maxime Lee</h1>
                <h1 class="comment-time">2 m</h1>
            </div>

            <div class="user-message">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, neque iure officia impedit vero explicabo exercitationem nemo
            </div>

            <div class="user-reply">
                Reply
            </div>
            <div class="bottom-line"></div>
        </div>
        <!-- END OF THIRD USER COMMENT -->


        <!-- THIRD USER COMMENT -->
        <div class="container">
            <div class="user-profile-image">
                <ion-avatar>
                    <img src="../../assets/images/bg.png" >
                </ion-avatar>
            </div>
            <div class="user-name-comment-time">
                <h1 class="user-name">Maxime Lee</h1>
                <h1 class="comment-time">2 m</h1>
            </div>

            <div class="user-message">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, neque iure officia impedit vero explicabo exercitationem nemo
            </div>

            <div class="user-reply">
                Reply
            </div>
            <div class="bottom-line"></div>
        </div>
        <!-- END OF THIRD USER COMMENT -->

    </div>


</ion-content>



<ion-footer padding>
    <ion-item>
        <ion-avatar>
            <img src="../../assets/images/bg.png">
        </ion-avatar>&nbsp;&nbsp;
        <ion-textarea name="text" required placeholder="Add a comment..."></ion-textarea>

        <ion-button fill="clear">
            <ion-icon name="send"></ion-icon>
        </ion-button>
    </ion-item>
</ion-footer>
